<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lunch.</title>

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <!-- BOOTSTRAP -->

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- FONT -->

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css" />
    <!-- CSS -->

    <!-- JQUERY -->

    <!-- JQUERY -->
  </head>
  <body>
    <div class="px-md-5 bg-warning">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-lg-4 py-md-4"
      >
        <a
          href="client_index.php"
          class="fw-bolder fs-2 d-flex align-items-center col-md-3 mb-md-0 text-dark text-decoration-none"
        >
          Lunch.
        </a>

        <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
          <li>
            <a
              href="client_menu.php"
              class="nav-link px-2 px-lg-4 link-dark navbar_menu"
              >Menu</a
            >
          </li>
          <li>
            <a
              href="client_promo.html"
              class="nav-link px-2 px-lg-4 link-dark navbar_menu"
              >Promo</a
            >
          </li>
          <li>
            <a
              href="client_about.html"
              class="nav-link px-2 px-lg-4 link-dark navbar_menu"
              >About Us</a
            >
          </li>
        </ul>
      </header>
    </div>
    <!-- NAVBAR -->
  </body>
</html>
